.common_clear_all {
    clear: both;
}


/* Default layout */

.common_content_box {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 3px solid #1976d2;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 10px;
}

.common_subcontent_box {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    padding-top: 20px;
    margin-top: 10px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.common_subcontent_item {
    clear: both;
    padding-left: 20px;
}

.common_title_bullet {
    float: left;
    width: 30px;
    padding-top: 2px;
}

.common_subtitle_bullet {
    float: left;
    width: 30px;
}

.common_title_text {}


/* Grid layout */

.common_grid {
    padding-top: 20px;
}

.common_grid_search {
    padding: 0px 40px 0px 0px;
}

.common_grid_search_field {
    padding-top: 0px;
    margin-top: 0px;
}

.common_grid_row_pointer>.v-data-table__wrapper>table>tbody>tr :hover {  
    cursor: pointer;
}


/* Button style (Default) */

.common_default_button {
    width: 150px;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    border-radius: 6px;
    border: 1px solid #3866a3;
    display: inline-block;
    cursor: pointer;
    color: #14396a;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7cacde;
}

.common_default_button:hover {
    background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    background-color: #468ccf;
}

.common_default_button:active {
    position: relative;
    top: 1px;
}

.common_search_button {
    width: 150px;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.common_search_button:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.common_search_button:active {
	position:relative;
	top:1px;
}

/* Button style (Highlight) */

.common_button_1 {
    width: 150px;
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.common_button_1:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.common_button_1:active {
    position: relative;
    top: 1px;
}

.common_button_bottom {
    padding: 0px 40px;
}

.theme--light.v-label {
    color: #9F9F9F;
    font-weight: normal;
    font-size: small;
}

.v-data-table {
    padding: 0px 20px;
}

.v-data-table-header th {
    white-space: nowrap;
  }