<?xml version="1.0" encoding="UTF-8"?>
<Configuration >
	<Properties>
		<Property name="logNm">
			MDM
		</Property>
		<Property name="layoutPattern">
			%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow}- %m%n -
		</Property>
	</Properties>

	<Appenders>
		<Console name="Console_Appender" target="SYSTEM_OUT">
			<PatternLayout pattern="${layoutPattern}"/>
		</Console>
		<RollingFile name="File_Appender" fileName="logs/${logNm}.log" filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="${layoutPattern}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB"/> 
				<TimeBasedTriggeringPolicy interval="1"/>
			</Policies>
			<DefaultRolloverStrategy max="500" fileIndex="min"/>
		</RollingFile>
	</Appenders>	
	
	 <Loggers>	 
		<Root level="ERROR" additivity="false" >
		   <AppenderRef ref="Console_Appender" />
		   <AppenderRef ref="File_Appender" />
		</Root>
		
		<logger name="org.springframework" level="INFO" additivity="false" >
 			<AppenderRef ref="Console_Appender" />
 			<AppenderRef ref="File_Appender" />
		</logger>
		
		<logger name="com.pilot.mighty" level="DEBUG" additivity="false"> 
			<AppenderRef ref="Console_Appender" />
			<AppenderRef ref="File_Appender"/>
		</logger>
	 </Loggers>
</Configuration>